*{
    padding:0;
    margin:0;
    letter-spacing: 5px;
}
.nav-container{
    background:#fff;
    height:60px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top:0;
}
.nav-container ul{
    display:flex;
    list-style: none;
}
.nav-container ul a{
    text-decoration: none;
    padding:0 40px;
}
.links{
    text-decoration: none;
    padding:0 30px;
}
/* ------heading------- */
.header{
    background-image: url("https://www.w3schools.com/w3images/hamburger.jpg");
    background-position: center;
    background-size: cover;
    height:100vh;
}
.header h1{
text-align:center;
top: 600px;
left:40px;
position: absolute;
font-size: 40px;
font-family: sans-serif;
font-weight: 200;
}
/* -----about section------ */
.about-container{
    margin-top: 60px;
}
.about-child1 img{
    width:500px;
    height:550px;
    margin-left: 150px;
} 
.about-container{
    display: flex;
}
.about-child2 h1{
    margin:0 150px;
    font-size: 30px;
}
.about-child2 p{
    padding-top: 40px ;
    padding-left: 168px;
}
.about-child3 p{
    padding-left: 50px;
    padding-right: 50px;
    line-height: 25px;
    font-style: bold;
    letter-spacing: normal;
    font-size: 18px;
}
span{
    background: lightgrey;
    letter-spacing: normal;
    padding:2px;
}
.another-p{
    margin-right: 60px;
    color:darkgrey;
}
/*------menu section-----*/
.menu-container{
margin-top: 15%;
display: flex;
margin-left:100px;

}
.right-sect h1{
    font-size: 35px;
    font-weight: lighter;
    margin-left: 40%;
}
h4{
    margin-top: 45px;
    margin-left: 10%;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: lighter;
}
.right-sect p{
    letter-spacing: normal;
    /* font-weight: 200; */
    color:darkgray;
    font-size:15px ;
    margin-left: 10%;
}
.left-sec img{
    width:100%;
    height:700px;
    margin-left:100px;
}
/*----contact section----*/
.contact-sec h1{
    font-size:35px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 10%;
}
hr{
    width:80%;
    margin-top: 100px;
    margin-left: 140px;
}
.contact-sec p{
    letter-spacing: normal;
margin-left: 140px;
margin-bottom: 20px;
}
.contact-sec h3{
    letter-spacing:normal;
    margin-left: 140px;
    color:#6091BC;
    padding-top: 30px;
    padding-bottom: 30px;
} 
form input[type=text]{
    margin-left: 140px;
    padding:20px;
    margin-top:15px;
    margin-bottom:25px;
    width: 75%;
    border:none;
    border-bottom:1px solid darkgrey;
}
form input[type=number]{
    margin-left: 140px;
    padding:20px;
    margin-bottom:25px;
    width: 75%;
border:none;
border-bottom:1px solid darkgrey;
}
form input[type=datetime-local]{
    margin-left: 140px;
    padding:20px;
    margin-bottom:25px;
    width: 75%;
border:none;
border-bottom:1px solid darkgrey;
}
 input[type=button]{
    letter-spacing:normal;
    margin-left: 140px;
    padding:10px;
font-weight: bold;
background: #F1F1F1;
border:none;
}
/*-----footer-----*/
.footer{
    margin-top: 80px;
}
.footer p{
    text-align: center;
    letter-spacing: normal;
    background:#F1F1F1;
    width:100%;
    height:100px;
    padding-top: 25px;
}
.footer a{
    letter-spacing: normal;
    color:black;
}





